<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerenciador de tarefas - Registrar</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Gerenciador de Tarefas</a>
    </nav>

    <div class="container">
        <h3>Insert new user</h3>
        <form class="form-horizontal" action="/registration" method="post" th:object="${user}">
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="alert alert-danger" role="alert" th:if="*{#fields.hasErrors('email')}">
                        <label th:errors="*{email}" class="validation-message"/>
                    </div>
                    <label>E-mail</label>
                    <input type="email" class="form-control" th:field="*{email}" />
                </div>
                <div class="form-group col-md-6">
                    <div class="alert alert-danger" role="alert" th:if="*{#fields.hasErrors('password')}">
                        <label th:errors="*{password}" class="validation-message"/>
                    </div>
                    <label>Password</label>
                    <input type="password" class="form-control" th:field="*{password}" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>


    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>